@model List<Palmisano.ViewModel.UserRolesViewModel>

@{
    ViewData["Title"] = "Indice";
}

<h1>Usuarios y Roles</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre Usuario</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @string.Join(", ", item.Roles)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="AdminRoles" asp-route-UserId="@item.UserId">Administrar Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>